build/
cmake-build-*/
generated/
demo1/
demo2/

*.pb.h
*.pb.cc
*.grpc.pb.h
*.grpc.pb.cc

*.user
*.autosave
CMakeLists.txt.user*

.DS_Store
.vscode/
.idea/

*.log
*.o
*.so
*.dylib
*.dll
*.exe
moc_*
qrc_*
ui_*